 {% extends "layout.html" %}


 {% from 'panel/macro.njk' import panel %}
{% from "summary-list/macro.njk" import summaryList %}

{% block content %}
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

            {{ panel({
                titleText: "Order complete",
                html: " <p> We have sent you a confirmation email </p>
                <p> If you are magic, you will have received the confirmation telepathically</p>"
            }) }}

            {% from 'do-dont-list/macro.njk' import list %}

{{ list({
  title: "Do",
  type: "tick",
  items: [
    {
      item: "fight crime with your suspected powers"
    },
    {
      item: "open any letters delivered via your chimney"
    }
  ]
}) }}

{{ list({
  title: "But",
  type: "cross",
  items: [
    {
      item: "go mad with power"
    },
    {
      item: "reveal your identity while fighting crime"
    }
  ]
}) }}

            

            <p><a href="#" class="nhsuk-link">Tell us about your experience using this service (opens in a new tab)</a></p>

        </div>
    </div>
{% endblock %}